{% extends 'standard_layout.html.twig' %}
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('js/angular/angular.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/angularTablero/d3.js') }}"></script>
    <script src="{{ asset('js/angularTablero/d3_nvd3.js') }}"></script>
    <script src="{{ asset('js/angularTablero/d3_angular_nvd3.js') }}"></script>
    <script src="{{ asset('js/angular/ui-bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/angular/ngStorage.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/angular/moment.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/angularTablero/ngRadialGauge/src/ng-radial-gauge-dir.js') }}"></script>
    <script src="{{ asset('js/angular/app.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/angular/matriz.js') }}" type="text/javascript"></script>

    <script src="{{ asset('js/export_plugin/tableExport.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/export_plugin/filesaver.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/export_plugin/jquery.base64.js') }}" type="text/javascript"></script>

    <script src="{{ asset('js/pivotTable/pivot.min.js') }}" type="text/javascript"></script>
    {#<script src="{{ asset('js/pivotTable/pivot.es-sv.min.js') }}" type="text/javascript"></script>#}
    <script src="{{ asset('js/plotly/plotly-latest.min.js') }}" type="text/javascript"></script>
    {#<script src="{{ asset('js/plotly/plotly-locale-es-latest.js') }}" type="text/javascript"></script>#}
    <script src="{{ asset('js/pivotTable/plotly_renderers.min.js') }}" type="text/javascript"></script>
    
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('js/pivotTable/pivot.min.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('css/FichaTecnicaAdmin/tablero.css') }}">

    <style>
        td{
            min-width: 30px;
            min-height: 90px;
        }
        td.valores{
            text-align: right;
        }
        td.nombre_variable{
            vertical-align: middle !important;
        }
        table{
            background-color: white;
            border-color: black !important;
        }
        .sonata-ba-content{
            overflow: auto;
        }
        .content-header {
            padding: 0px;
        }
        .navbar2 {
            position: relative;
            min-height: 50px;
            margin-bottom: 20px;
            border: 1px solid transparent;
        }

        .pvtUnused, .pvtHorizList, .pvtVals, .pvtRows {
            display: none;
        }
    </style>

{% endblock %}
    

{% block sonata_page_content %}
    <div ng-app="App" ng-controller="MatrizCtrl" ng-init="ruta='{{ path('matriz_reporte') }}'"> 
        {% block sonata_page_content_header %}
            <section class="content-header" >
                <nav class="navbar navbar-default" role="navigation" style="width: auto;">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="javascript:void(0)">
                                <i class="glyphicon glyphicon-th"></i> <span id="tituloReporte">{{ '_matriz_seguimiento_' | trans }} ({{ '_reporte_' | trans }}) <% anio | date:'yyyy' %> </span>
                            </a>
                            
                        </div>
                        <div class="navbar-collapse">
                            <a href="javascript:void(0)" class="btnnav navbar-nav navbar-right btn btn-default" data-toggle="modal" data-target="#manual" style=" height: 50px;">
                                <i class="fa fa-question" style="font-size: 2.5em;"></i>
                            </a>
                            
                            <ul class="nav navbar-nav navbar-right" style="padding-top: 6px;">
                                <li class="sonata-actions" ng-click="cambiarVer('verP')">
                                    
                                    <strong class="form-control" style="cursor:default" style="color: cornflowerblue"> 
                                        <i class="fa <% verP ? 'fa-check-square' : 'fa-square-o' %>" style="font-size: 24px;color: dodgerblue;"></i> &nbsp;
                                        {{ '_matriz_verP_' | trans }}                                                                            
                                    </strong>
                                </li>
                                <li class="sonata-actions" ng-click="cambiarVer('verR')">
                                    <strong class="form-control" style="cursor:default" > 
                                        <i class="fa <% verR ? 'fa-check-square' : 'fa-square-o' %>" style="font-size: 24px;color: gray;"></i> &nbsp;
                                        {{ '_matriz_verR_' | trans }}                                                                            
                                    </strong>
                                </li>
                                <li class="sonata-actions">
                                    <div class="input-group" ng-init="matrix = []; cargarSelect('{{ path('matriz_matriz') }}', matrix)">
                                        <span class="input-group-addon" id="basic-addon1">{{ '_matriz_select_' | trans }}:</span>
                                        <select class="form-control" ng-model="matriz" ng-options="val.id as val.nombre for val in matrix" ></select>
                                    </div>                                    
                                </li>
                                
                                <li class="sonata-actions">
                                    <div class="input-group" style="max-width: 350px;">
                                        <span class="input-group-addon" id="basic-addon1">{{ '_anio_select_' | trans }}:</span>
                                        <input type="text" class="form-control" uib-datepicker-popup="<%format%>"
                                            ng-model="anio" is-open="status.opened"
                                            datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event)" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>    
                                </li>
                                
                                <li class="sonata-actions">
                                    <button type="button" class="btn btn-info" ng-click="crearPlaneacion(ruta ,anio)"><i class="glyphicon glyphicon-refresh"></i></button>
                                    <button type="button" class="btn btn-info" ng-click="analisisGeneral()"><i class="fa fa-bar-chart" aria-hidden="true"></i></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </section>
        {% endblock %}

        {% block sonata_admin_content %}
        <section class="content">
            <div id="div_carga" class='affix' style="display:<% cargando ? 'block' : 'none' %>">
                <div id="cargador"><span class="fa fa-spin fa-cog"></span></div>
            </div>
            <div class="sonata-ba-form">
                <form class="form-horizontal" role="form" >
                    <div id="feedback_bar"></div>
                    <div class="row" ng-init="usuarios = []; cargarSelect('{{ path('listaUsuarios') }}', usuarios); listaColores = []; cargarSelect('{{ path('listaColores') }}', listaColores);">            
                        <div class="col-sm-12"  style="height: 78vh; overflow:auto" >
                            <div class="imprimir" id="exportable">
                                <div class="panel panel-default" ng-repeat="item in dato.matriz">
                                    <div class="panel-heading">
                                        <h4>
                                            <% item.nombre %>
                                        </h4>
                                    </div>
                                    <div class="panel-body" >
                                        <table border="1" class="table table-striped table-bordered matriz" >
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th> {{ '_inidcador_' | trans }} </th>
                                                    <th> {{ '_fuente_' | trans }} </th>
                                                    <th> {{ '_acumular_' | trans }} </th>
                                                    <th> {{ '_meta_anual_' | trans }} </th>
                                                    <th> {{ '_enero_' | trans }} </th>
                                                    <th> {{ '_febrero_' | trans }} </th>
                                                    <th> {{ '_marzo_' | trans }} </th>
                                                    <th> {{ '_abril_' | trans }} </th>
                                                    <th> {{ '_mayo_' | trans }} </th>
                                                    <th> {{ '_junio_' | trans }} </th>
                                                    <th> {{ '_julio_' | trans }} </th>
                                                    <th> {{ '_agosto_' | trans }} </th>
                                                    <th> {{ '_septiembre_' | trans }} </th>
                                                    <th> {{ '_octubre_' | trans }} </th>
                                                    <th> {{ '_noviembre_' | trans }} </th>
                                                    <th> {{ '_diciembre_' | trans }} </th>
                                                    <th class=""> {{ 'alertas' | trans }} </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr valign="middle" ng-repeat="inde in item.indicadores_etab">
                                                    <TD>
                                                        <A href="#" ng-click="graficar(inde)">
                                                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                                        </A>
                                                    </TD>
                                                    <td class="nombre_matriz"><% inde.nombre %></td>
                                                    <td class="nombre_matriz"><% inde.fuente %></td>
                                                    <td> 
                                                        <strong class="form-control" style="cursor:default" ng-click="acumular[($index + '_' + inde.id)] = !acumular[($index + '_' + inde.id)]; acumularAbsoluto(inde, $index, '_')"> 
                                                            <i class="fa <% acumular[($index + '_' + inde.id)] ? 'fa-check-square' : 'fa-square-o' %>" style="font-size: 24px;color: dodgerblue;"></i> &nbsp;                                                                                                                                        
                                                        </strong>
                                                    </td>
                                                    <td class="nombre_matriz" width="1%"><% inde.meta %></td>
                                                    <td ng-repeat="k in meses" width="110px" ng-init="valorAbsoluto(inde, ($index + '_' + inde.id), k)" style="background: <% color[($index + '_' + inde.id)][k] %> !important; ">
                                                        <table width="100%" class="list-group" ng-init="statusx[($index + '_' + inde.id)][k] = inde[k].real / inde[k].planificado * 100">
                                                            <tbody style="border:none">
                                                                <tr ng-if="inde[k].planificado >= 0 && inde[k].real <= 0 && verR && verP" class="list-group-item matriz-planeacion-texto" align="center"><th>&nbsp</th></tr>
                                                                <tr style="background: darkgray;" ng-if="verR && inde[k].real >= 0" class="list-group-item matriz-planeacion-texto" align="center"><th><% inde[k].real | number : 2 %></th></tr>
                                                                <tr style="background: cornflowerblue;" ng-if="verP && inde[k].planificado >= 0" class="list-group-item matriz-planeacion-texto" align="center">
                                                                    <th><% inde[k].planificado | number : 2 %> </th>
                                                                </tr>                                       
                                                                <tr ng-show="statusx[($index + '_' + inde.id)][k] >= 0" class="list-group-item" align="center">
                                                                    <th>
                                                                        <strong ng-if="statusx[($index + '_' + inde.id)][k] >= 0" style="font-weight:900; text-shadow: 1px 1px 1px #FFF;" >
                                                                            <div align="center">
                                                                                <% statusx[($index + '_' + inde.id)][k] | number : 0 %> %
                                                                            </div>
                                                                        </strong>
                                                                    </th>
                                                                </tr>
                                                                
                                                            </tbody>
                                                        </table>    
                                                                                            
                                                    </td>
                                                    <td style="padding: 0px;">
                                                        <table width="100%">
                                                            <tbody style="border:none">
                                                                <tr ng-repeat="alerta in inde.alertas">
                                                                    <th align="center" style="background:<% alerta.color.codigo %>; color: black;text-shadow: 2px 2px 2px white ; font-size: 11pt; width: 100%; padding: 3px;">
                                                                        <div align="center"><% alerta.limite_inferior %> - <% alerta.limite_superior %></div>
                                                                    </th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>                                
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr valign="middle" ng-repeat="inde in item.indicadores_relacion">
                                                    <TD>
                                                        <A href="#" ng-click="graficar(inde)" >
                                                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                                        </A>
                                                    </TD>
                                                    <td class="nombre_matriz"><% inde.nombre %></td>
                                                    <td class="nombre_matriz"><% inde.fuente %></td>
                                                    <td> 
                                                        <strong class="form-control" style="cursor:default" ng-click="acumular[($index + '-' + inde.id)] = !acumular[($index + '-' + inde.id)]; acumularAbsoluto(inde, $index, '-')"> 
                                                            <i class="fa <% acumular[($index + '-' + inde.id)] ? 'fa-check-square' : 'fa-square-o' %>" style="font-size: 24px;color: dodgerblue;"></i> &nbsp;                                                                                                                                        
                                                        </strong>
                                                    <td class="nombre_matriz" width="1%"><% inde.meta %></td>
                                                    <td ng-repeat="k in meses" width="110px" ng-init="valorAbsoluto(inde, ($index + '-' + inde.id), k)" style="background: <% color[($index + '-' + inde.id)][k] %> !important;">
                                                        <table width="100%" class="list-group" ng-if="inde[k].planificado >= 0">
                                                            <tbody style="border:none">
                                                                
                                                                <tr style="background: darkgray;" ng-if="verR && inde[k].real >= 0" class="list-group-item matriz-planeacion-texto" align="center"><th><% inde[k].real | number : 2 %></th></tr>
                                                                <tr style="background: cornflowerblue;" ng-if="verP && inde[k].planificado >= 0" class="list-group-item matriz-planeacion-texto" align="center">
                                                                    <th><% inde[k].planificado | number : 2 %> </th>
                                                                </tr>                                       
                                                                <tr ng-show="statusx[($index + '-' + inde.id)][k] >= 0" class="list-group-item" align="center">
                                                                    <th>
                                                                        <strong ng-if="statusx[($index + '-' + inde.id)][k] >= 0" style="font-weight:900; text-shadow: 1px 1px 1px #FFF;" >
                                                                            <div align="center">
                                                                                <% statusx[($index + '-' + inde.id)][k] | number : 0 %> %
                                                                            </div>                                                                
                                                                        </strong>
                                                                    </th>
                                                                </tr>
                                                                <tr ng-show="false"><th></th></tr>
                                                            </tbody>
                                                        </table>                                  
                                                    </td>
                                                    <td style="padding: 0px;">
                                                        <table width="100%">
                                                            <tbody style="border:none">
                                                                <tr ng-repeat="alerta in inde.alertas">
                                                                    <th align="center" style="background:<% alerta.color.codigo %>; color: black;text-shadow: 2px 2px 2px white ; font-size: 11pt; width: 100%; padding: 3px;">
                                                                        <div align="center"><% alerta.limite_inferior %> - <% alerta.limite_superior %></div>
                                                                    </th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>                                    
                                                </tr>                        
                                            </tfoot>
                                        </table>
                                    </div>
                                </div> 
                            </div>               
                        </div> 
                    </div>

                    <div class="sonata-ba-form-actions well well-small form-actions stuck">
                        <button type="button" class="btn btn-primary" exportar-tabla>
                            <i class="glyphicon glyphicon-file"></i> {{ '_exportar_' | trans }}
                        </button>

                        <button type="button" class="btn btn-info" imprimir-div=".imprimir" ruta="{{ app.request.getSchemeAndHttpHost() }}">
                            <i class="glyphicon glyphicon-print"></i> {{ '_imprimir_' | trans }}
                        </button>
                    </div>
                </form>
            </div>
        </section>

        <div class="modal fade" tabindex="-1" role="dialog" id="manual">
            <div class="modal-dialog" style="width:95%" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ '_manual_' | trans}}</h4>
                    </div>
                    <div class="modal-body" style="height: 80vh;">
                        <object data="{{ asset('manuales/etab_matriz/Output/website/book/capitulo-4.html') }}"  style="width: 100%;height:100%;"></object>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" tabindex="-1" role="dialog" id="grafico">
            <div class="modal-dialog" style="width:90%" role="document">
                <div class="modal-content">
                    <input type="hidden" id='resultadoEtq' value="{{ '_resultado_'|trans }}">
                    <input type="hidden" id='metaEtq' value="{{ '_meta_'|trans }}">
                    <input type="hidden" id='planeacionEtq' value="{{ '_planeacion_'|trans }}">
                    <input type="hidden" id='realEtq' value="{{ '_real_'|trans }}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="tituloGrafico"></h4>
                    </div>
                    <div class="modal-body" style="height: 80vh;">
                        <div id="tendencia"></div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
    </div>
{% endblock %}
