.background {
    fill: none;
    pointer-events: all;
}

#states {
    fill: #aaa;
    stroke: #fff;
    stroke-width: 1.5px;
}

.pvtRows .label {
    display: block !important;
}

.pvtUnused li {
    display: inline-block;
    margin-right: 12px;
}

.pvtAxisContainer, .pvtVals{
    padding: 15px;
}

.pvtAttr {
    font-size: 16px;
    box-shadow: -2px 2px 10px green;
    padding: 7px !important;
}

.pvtFilterBox {
    box-shadow: -5px 5px 10px gray;
    border-radius: 5px;
}

.pvtRowOrder, .pvtColOrder{
    font-size: 20pt;
}


.pvtFilteredAttribute {
    color: green;
    font-weight: bold;
}

.pvtAxisContainer.pvtRows li {
    margin-bottom: 10px;
}

.pvtAxisContainer.pvtUnused {
    background: rgba(255, 255, 255, 1) !important;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%) !important;
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1))) !important;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%) !important;
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%) !important;
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%) !important;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1) !important;
    color: #FFF !important;
}

.pvtAxisContainer.pvtCols {
    background: rgba(219, 219, 219, 1) !important;
    background: -moz-linear-gradient(left, rgba(219, 219, 219, 1) 0%, rgba(212, 212, 212, 1) 50%, rgba(204, 204, 204, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(219, 219, 219, 1)), color-stop(50%, rgba(212, 212, 212, 1)), color-stop(100%, rgba(204, 204, 204, 1))) !important;
    background: -webkit-linear-gradient(left, rgba(219, 219, 219, 1) 0%, rgba(212, 212, 212, 1) 50%, rgba(204, 204, 204, 1) 100%) !important;
    background: -o-linear-gradient(left, rgba(219, 219, 219, 1) 0%, rgba(212, 212, 212, 1) 50%, rgba(204, 204, 204, 1) 100%) !important;
    background: -ms-linear-gradient(left, rgba(219, 219, 219, 1) 0%, rgba(212, 212, 212, 1) 50%, rgba(204, 204, 204, 1) 100%) !important;
    background: linear-gradient(to right, rgba(219, 219, 219, 1) 0%, rgba(212, 212, 212, 1) 50%, rgba(204, 204, 204, 1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#cccccc', GradientType=1) !important;
    color: #FFF !important;
}

.pvtAxisContainer.pvtRows {
    background: rgba(219, 219, 219, 1) !important;
    background: -moz-linear-gradient(left, rgba(219, 219, 219, 1) 0%, rgba(212, 212, 212, 1) 50%, rgba(204, 204, 204, 1) 100%) !important;
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(219, 219, 219, 1)), color-stop(50%, rgba(212, 212, 212, 1)), color-stop(100%, rgba(204, 204, 204, 1))) !important;
    background: -webkit-linear-gradient(left, rgba(219, 219, 219, 1) 0%, rgba(212, 212, 212, 1) 50%, rgba(204, 204, 204, 1) 100%) !important;
    background: -o-linear-gradient(left, rgba(219, 219, 219, 1) 0%, rgba(212, 212, 212, 1) 50%, rgba(204, 204, 204, 1) 100%) !important;
    background: -ms-linear-gradient(left, rgba(219, 219, 219, 1) 0%, rgba(212, 212, 212, 1) 50%, rgba(204, 204, 204, 1) 100%) !important;
    background: linear-gradient(to right, rgba(219, 219, 219, 1) 0%, rgba(212, 212, 212, 1) 50%, rgba(204, 204, 204, 1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#cccccc', GradientType=1) !important;
    color: #FFF !important;
}


.pvtVals {
    background: rgba(212, 228, 239, 1) !important;
    background: -moz-linear-gradient(left, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%) !important;
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212, 228, 239, 1)), color-stop(100%, rgba(134, 174, 204, 1))) !important;
    background: -webkit-linear-gradient(left, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%) !important;
    background: -o-linear-gradient(left, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%) !important;
    background: -ms-linear-gradient(left, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%) !important;
    background: linear-gradient(to right, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1) !important;
    width: 1% !important;
}

.pvtAxisContainer li span.pvtAttr{

    border: none !important;;
}

.pvtVals select, .pvtRenderer, .pvtFilterBox input, select {
    margin-bottom: 3px;
    margin-top: 3px;
    display: block;
    height: 34px;
    padding: 6px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.pvtVals select option, .pvtRenderer option, select option {
    font-weight: normal;
    display: block;
    padding: 0px 2px 1px;
    white-space: pre;
    min-height: 1.2em;
}

.pvtAxisContainer li span, .pvtFilterBox button {
    padding: 7px !important;
    color: black;
    background-color: #EEEEEE !important;
    border-color: #FFF;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.pvtFilterBox {
    font-family: 'Oswald', sans-serif;
}

.pvtFilterBox button {
    padding: 3px !important;
    border-radius: 4px;
}

.pvtFilterBox input.pvtSearch {
    width: 100%;
}

.pvtFilterBox input[type=checkbox] {
    float: left !important;
    margin: 5px !important;
    height: auto !important;
}

.pvtAxisContainer li span:hover, .pvtAxisContainer li span:focus {
    background-color: #4ba74b;
    border-color: #3b9d3b;
}
.pvtFilterBox {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
    color: #000;
}

#states .active {
    fill: steelblue;
}

#div_carga {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Para CSS3 */
    background: rgba(98, 135, 167, .4);
    /* IE8*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#886287a7', endColorstr='#886287a7');
    /* anteriores a IE8 */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#886287a7', endColorstr='#886287a7');
    display: none;
    z-index: 10000;
}

#cargador {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

.dropdown-menu-visible {
    display: block;
    position: static;
    margin-bottom: 5px;
    *width: 180px;
}



.checkContainer {
    width: 200px !important;
}

#tool_actions {
    display: none;
}

.navbar-inner {
    min-height: 0px !important;
}

.dropdown-menu li a {
    cursor: pointer;
}

div.popover-content, div.popover-title {
    font-size: 9pt !important;
}

.marco-sala {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
    margin-bottom: 20px !important;
    overflow: auto;
}

.marco-sala:after {
    background-color: #FFB709;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    content: attr(data-content);
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

.label-info {
    background-color: transparent;
    color: black;
    font-weight: normal;
}

.pvtFilteredAttribute {
    color: green;
    font-weight: bold;
}

.pvtFilterBox {
    top: 130px !important;
}

#myModal2 .modal-dialog, #fichaTecnica .modal-dialog {
    position: relative;
    background: none;
    border: none;
    box-shadow: none;
}

.grupo_indicadores {
    height: 400px;
    width: 370px;
    margin: 3px 12px 3px 0;
    float: left;
    overflow-y: auto;
    border: 1px green solid;
}

.calidad_datos_item {
    cursor: pointer;
}

.modal-dialog {
    padding: 0px !important;
    background: transparent !important;
    position: relative !important;
}


.checkContainer {
    text-align: left;
    overflow: auto;
    width: 100% !important;
}



.modal-dialog.google-visualization-charteditor-dialog {
    padding: 10px;
    background: #FFF;
    width: 50%;
    margin-left: -1%;
}

#myModal2 img {
    width: 100%;
}

.nav-header {
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: 320px 173px;
}

.docs-menu, .docs-menu ul {
    list-style: none;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.menu-toggle-list {
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: 0;
}

a.docs-logo {
    border-bottom: none;
}

.docs-logo {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 0 16px;
    margin: 0 auto;
}

.docs-logo img {
    border-radius: 50%;
}

.docs-logotype {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 1rem;
    margin-top: 21px;
}

a {
    text-decoration: none;
    font-weight: 400;
    -webkit-transition: border-bottom 0.35s;
    transition: border-bottom 0.35s;
}

.profile-info {
    background: rgba(0, 0, 0, 0.37);
    padding: 7px 14px;
    color: #fff;
    margin-top: 20px;
    position: relative;
    width: 100%;
}

.profile-info>md-icon {
    font-size: 19px;
    line-height: 100%;
    position: absolute;
    right: 15px;
    top: 7px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.main-menu {
    z-index: 99;
    position: absolute;
    margin: 0 0 0;
    list-style: none;
    padding-left: 0;
    margin: 20px 0 0 0;
}

.md_inner .md-list-item-inner {
    position: relative !important;
}


md-content.md-default-theme, md-content {
    background-color: rgb(255, 255, 255) !important;
}

.radioButtondemoMultiColumn div.radioDemo2 {
    margin-bottom: 20px;
}

.radioButtondemoMultiColumn h2 {
    margin-left: 15px;
    font-size: 12pt;
    color: #a09e9e !important;
}

.radioButtondemoMultiColumn p {
    width: 400px;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;
    border-top: 2px solid #ddd;
}

.radioButtondemoMultiColumn .md-checked {
    background-color: #ECFAFB;
    border-radius: 2px;
}

.radioButtondemoMultiColumn md-button.md-raised, .radioButtondemoMultiColumn button.md-raised {
    width: 200px;
}

.radioButtondemoMultiColumn .row {
    border-bottom: 1px dashed #ddd;
}

.radioButtondemoMultiColumn div.row:last-child {
    border-bottom: 0px dashed #ddd;
}

.radioButtondemoMultiColumn .summary {
    width: 100%;
    padding-top: 10px;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: -5px;
}

.radioButtondemoMultiColumn .title {
    font-weight: bolder;
}

.radioButtondemoMultiColumn .selectedUser .md-checked {
    padding: 8px;
    width: 100px;
}

#output {
    margin-top: 50px;
    /*height: calc(67vh);
    overflow: auto;*/
    width: 100%;
}

.pvtCheckContainer {
    overflow: auto;

}

.pvtTableContainer {
    max-height: 100vh !important;
    max-width: 80vw !important;
}

.grupo_indicadores .panel-heading {
    background-color: #F5F5F5;
    color: black;
    font-size: 14pt;
}

.grupo_indicadores .panel-body{
    overflow-y: auto;
    max-height: 90%;
    padding: 0px !important;
}

#calidad_datos .panel-body{
    overflow-y: auto;
    max-height: 500px;
    padding: 0px !important;
}

.grupo_indicadores .list-group, #calidad_datos .list-group {
    cursor: pointer;
    width: 100%;
}

.tab-pane {
    height: 75vh;
}