{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/CRUD/base_edit.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}
    {% if objectId|default(admin.id(object)) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(100) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock %}
