<section class="content-header">
   
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapseTwo">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="glyphicon glyphicon-wrench"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="collapseTwo">
                    
                    <a class="btn dropdown-toggle btn-primary navbar-btn" data-toggle="modal" data-target="#modalSalas" >
                        <i class="glyphicon glyphicon-th-large"></i> <span class="hidden-xs">{{'_sala_' | trans}}</span>
                    </a>
                    
                    <a class="btn dropdown-toggle btn-success navbar-btn" data-toggle="modal" data-target="#modalIndicadores" >
                        <i class="glyphicon glyphicon-flag"></i> <span class="hidden-xs">{{"indicadores" | trans}}</span>
                    </a>
                    
                    <a data-target="#modalGuardarSala" data-toggle="modal" class="btn btn-primary" title="{{'_guardar_sala_' | trans}}" id="_guardar_sala_" ng-if="abrio_sala || abrio_indicador">
                        <i class="fa fa-save"></i> <span class="hidden-xs">{{"_guardar_sala_" | trans}}</span>
                    </a>
                
                    <a data-target="#modalAcciones" data-toggle="modal" class="btn btn-info" title="{{'_sala_acciones_' | trans}}" id="_sala_acciones_" ng-if="abrio_sala">
                        <i class="fa fa-bookmark"></i> <span class="hidden-xs">{{"_sala_acciones_" | trans}}</span>
                    </a>

                    <a data-target="#modalCompartir" data-toggle="modal" class="btn btn-info" title="{{'_compartir_sala_' | trans}}" id="_compartir_sala_" ng-if="abrio_sala">
                        <i class="fa fa-share"></i> <span class="hidden-xs">{{"_compartir_sala_" | trans}}</span>
                    </a>
                    
                    <a href="javascript:void(0)" class="btnnav navbar-nav navbar-right btn btn-default" data-toggle="modal" data-target="#manual" style=" height: 50px;">
                        <i class="fa fa-question" style="font-size: 2.5em;"></i>
                    </a>
                    
                    <div class="btn-group" id="_exportar_datos_btn" ng-if="abrio_sala || abrio_indicador">
                        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" title="Opciones" >
                            <i class="glyphicon glyphicon-export"></i> <span class="hidden-xs">{{"_exportar_" | trans}}</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#exportarDatos"  data-toggle="modal" class="" title="{{'_exportar_tabla_datos_' | trans}}" id="_exportar_datos_">
                                    <i class="glyphicon glyphicon-export"></i>  <span class="hidden-xs">{{"_exportar_tabla_datos_" | trans}}</span>
                                </a>
                            </li>
                            <li>
                                <a href="#exportarDiccionario"  data-toggle="modal" class="" title="{{'_exportar_diccionario_datos_' | trans}}" id="_exportar_diccionario_datos_">
                                    <i class="glyphicon glyphicon-export"></i>  <span class="hidden-xs">{{"_exportar_diccionario_datos_" | trans}}</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" ng-click="imprimirSala()" title="{{'_exportar_pdf_' | trans}}" id="_exportar_pdf_">
                                    <i class="glyphicon glyphicon-export"></i>  <span class="hidden-xs">{{"_exportar_pdf_" | trans}}</span>
                                </a>
                            </li>
                            
                            </li>
                        </ul>
                    </div>
                                
                    <a class="btn btn-warning" title="{{'_cerrar_sala_' | trans}}" id="_cerrar_sala_" ng-if="abrio_sala" ng-click="cerraSala()">
                        <i class="fa fa-times"></i> <span class="hidden-xs">{{"_cerrar_sala_" | trans}}</span>
                    </a>

                    <a class="btn dropdown-toggle btn-primary navbar-btn" ng-click="abrirModalFiltrosGenerales()" ng-if="indicadores.length > 0">
                        <i class="glyphicon glyphicon-filter"></i> <span class="hidden-xs">{{"_filtros_generales_" | trans}}</span>
                    </a>
                </div>
            </div>
        </nav>
    
        <div class="modal fade" tabindex="-1" role="dialog" id="manual">
            <div class="modal-dialog" style="width:95%" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ '_manual_' | trans}}</h4>
                    </div>
                    <div class="modal-body" style="height: 80vh;">
                        <object data="{{ asset('manuales/etab_tablero/Output/website/book/capitulo-1.html') }}"  style="width: 100%;height:100%;"></object>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

</section>