<div class="modal fade" id="modalConfiguracion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
       <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 id="myModalLabel2">{{ 'javascript.opciones_grafico' | trans }}</h4>
        </div>
        <div class="modal-body" style="max-height:400px; max-width:100%; overflow:auto;">
            <div class="container-fluid" >
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label  ">{{ 'javascript.ordenar_y' | trans}}:</label>
                        <div class="ordenar_medida form-control">
                            <label class="radio-inline" ng-click="ordenarArreglo(posicion, 'valor', 'asc')">
                                <input type="radio" name="orden" id="orden1" value="asc" ng-model="indicadores[posicion].configuracion.orden_y" > {{ 'javascript.ascendente' | trans}}
                            </label>
                            <label class="radio-inline" ng-click="ordenarArreglo(posicion, 'valor', 'desc')">
                                <input type="radio" name="orden" id="orden2" value="desc" ng-model="indicadores[posicion].configuracion.orden_y" > {{ 'javascript.descendente' | trans}}
                            </label>                            
                        </div>                        
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label ">{{ 'javascript.ordenar_x' | trans}}:</label>
                        <div class="ordenar_medida form-control">
                            <label class="radio-inline" ng-click="ordenarArreglo(posicion, 'nombre', 'asc')">
                                <input type="radio" name="orden" id="orden3" value="asc" ng-model="indicadores[posicion].configuracion.orden_x" > {{ 'javascript.ascendente' | trans}}
                            </label>
                            <label class="radio-inline" ng-click="ordenarArreglo(posicion, 'nombre', 'desc')">
                                <input type="radio" name="orden" id="orden4" value="desc" ng-model="indicadores[posicion].configuracion.orden_x" > {{ 'javascript.descendente' | trans}}
                            </label>                            
                        </div>     
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label  ">{{ 'javascript.tipo_grafico' | trans}}: </label>
                        <select class="tipo_grafico_principal form-control" ng-model="indicadores[posicion].configuracion.tipo_grafico" ng-change="actualizarsGrafica(posicion, false);">
                            <option ng-repeat="item in indicadores[posicion].informacion.dimensiones[indicadores[posicion].dimensiones[indicadores[posicion].dimension].trim()].graficos" value="<% item.codigo %>"><% item.descripcion %></option>
                        </select>
                    </div>
                </div>
                <!--<div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label  ">{{ 'javascript.max_escala_y' | trans}}:</label> 
                        <select class="max_y form-control" ng-model="indicadores[posicion].configuracion.maximo">
                            <option value="indicador">{{ 'javascript.max_indicador' | trans}}</option>
                            <option value="rango_alertas">{{ 'javascript.max_rango_alertas' | trans}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label  ">{{ '_manual_' | trans}}:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="indicadores[posicion].configuracion.maximo_manual">
                            <div class="input-group-btn"><button class="btn btn-default " type="button" ><span class="glyphicon glyphicon-ok"></span></button></div>
                        </div>
                    </div>
                </div>-->

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label  ">{{ '_ancho_grafico_' | trans}}:</label> 
                        <select class="max_y form-control" ng-model="indicadores[posicion].configuracion.width">
                            <option ng-repeat="item in medidas_width" value="col-sm-<%item + 1%>" selected="<% indicadores[posicion].configuracion.width == 'col-sm-' + (item + 1) %>">col x <%item + 1%></option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label  ">{{ '_alto_grafico_' | trans}}:</label>
                        <div class="input-group">
                            <input type="number" min="250" string-to-number class="form-control" ng-model="indicadores[posicion].configuracion.height">
                            <div class="input-group-btn">
                                <button class="btn btn-default " type="button" ng-click="actualizarsGrafica(posicion, false)">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">            
            <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">{{ '_cerrar_' | trans}}</button>
        </div>
    </div>
  </div>
</div>